@import url('https://fonts.googleapis.com/css2?family=Roboto');


html,
body {
    width: 100vh;
    background-color: #415fe1;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 10px 200px;
}

ul {
    margin-left: 40px;
    padding: 0;
}

img {
    height: 400px;
    width: auto;
}

p {
    font-weight: bold;
    line-height: 0.2em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}