html,
body {
    height: 100vh;
    background-color: gray;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.postit-list-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.postit-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.postit {
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px black;
    transition: all 0.5s;
    z-index: 0;
}

.postit:hover {
    z-index: 1;
    width: 25em;
    height: 25em;
}

.postit-green {
    background-color: green;
    rotate: -12deg;
}

.postit-green:hover {
    transform: rotate(12deg);
}

.postit-yellow {
    background-color: yellow;
    rotate: 1deg;
}

.postit-yellow:hover {
    transform: rotate(-1deg);
}

.postit-violet {
    background-color: violet;
    rotate: -4deg;
}

.postit-violet:hover {
    transform: rotate(4deg);
}