.trending__card {
    display: flex;
    .trending__card-index {
        font-size: 20px;
        color: lightgray;
            font-weight: bold;

    }
    .trending__card-info {
        
        .trending__card-author {
            @include text-sm;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            img {
                width: 20px;
                @include cerchio;
            }
        }
        .trending__card-title {
            margin-bottom: 5px;

            font-weight: bold;
        }
        .trending__card-meta {
            
            @include text-sm;
            color: grey
        }
    }
}