<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job</title>
</head>

<body>
    <header>
        <div>
            <img src="../assets/img/logo.png" alt="Logo Epicode" width="200">
            <p>Epicode - Il blog dei developers</p>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="articoli.html">Articoli</a></li>
                <li><a href="job.html">Job</a></li>
            </ul>
        </div>
    </header>
    <hr>
    <div>
        <main>
            <h1>Job coming soon</h1>
        </main>
        <hr>
    </div>
    <footer>
        <p><i>Testato</i></p>
        <p>Testata online di Mario Rossi, registrata con prot. n.213/2018 - via Luigi Einaudi 2 - Milano. P.IVA
            00112233. <a href="mailto:info@epicode.school">info@epicode.school</a></p>
    </footer>
</body>

</html>