html,
html,
body {
    margin: 0;
}

h1 {
    text-align: center;
}

#wrap-newTask {
    text-align: center;
    margin-bottom: 20px;
}

#wrap-list {
    width: 60%;
    text-align: center;
}

#taskList {
    list-style-type: none;
}

#custom-list {
    margin-left: 5px;
}

.custom-label {
    padding: 2px;
    width: 20px;
    text-align: left;
}

.deleteButton {
    text-align: right;
}