html, body {
    margin: 0;
    background-color: black;
}

h1 {
    color: red;
    text-align: center;
}

#container, #links {
    text-align: center;
    margin: 0% 20%;
  }

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

th {
    background-color: white;
}

.test {
    color: blue;
}