html,
body {
    height: 100vh;
}

.col-card .card {
    margin: 0 auto;
    margin-bottom: 3em;
}

.card-img-top {
    object-fit: cover;
    height: 30em;
}

.card img {
    width: 100%;
    aspect-ratio: 2/3;
}

.card {
    height: 740px;
}

ul {
    list-style: none;
}

main {
    position: relative;
}

#section-cart {
    position: sticky;
    top: 0;
    height: 100%;
}